/* Optional styling for morph spans */
[data-hyphen] {
  cursor: pointer;
}

/* Adjust heading spacing if desired */
.md-typeset h1 {
  margin-bottom: 0.3em;
}

.md-typeset h5 {
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
  color: #666;
  margin-top: -0.2em;
  margin-bottom: 1em;
}

/* added to remove table borders */
.md-typeset table th,
.md-typeset table td {
  border: none;
}