.morph-show { display: none; }
.morph-hide { display: inline; }

body.show-morph .morph-show { display: inline; }
body.show-morph .morph-hide { display: none; }

table { width: 100%; border-collapse: collapse; }
td, th { padding: 0.5em; vertical-align: top; }

body { font-family: Georgia, serif; background: #fff; color: #000; }
